main {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	font-style: bold;
	font-family: Helvetica, sans-serif;
}

#wordsmain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
}

.wordbox {
	text-align: center;
	border: solid black;
	margin: 3px;
}

.wordbox:hover {
	background-color: #4BE5FD;
}

.title {
	text-align: center;
}

.nowords {
	font-size: 20pt;
	color: red;
	text-align: center;
	grid-template-columns: 0fr;
}

.error {
	color: red;
	display: none;
}

footer {
	text-align: center;
	margin: auto;
}
